<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<clear/>
    <add key="github" value="https://nuget.pkg.github.com/DosSEdo/index.json" />
    <add key="IdentityServer Local" value="./nuget" />
  </packageSources>
  <packageSourceCredentials>
    <github>
        <add key="Username" value="blyzer" />
        <add key="ClearTextPassword" value="af513c7a016048ae468971c52ed77d9562c7c819" />
    </github>
  </packageSourceCredentials>
</configuration>